apiVersion: v1
kind: Secret
metadata:
  name: keycloak-postgresql-auth
  namespace: postgresql
type: Opaque
stringData:
  postgres-password: "${POSTGRES_POSTGRES_PASSWORD}"
  password: "${POSTGRES_KEYCLOAK_PASSWORD}"